<!DOCTYPE html>
<html lang="pt">
  <head>
    <%-include("./partials/head")-%>
  </head>
  <body>
    <h1 class="text-red-600">HELLO</h1>
    <p class="uppercase underline text-blue-900">Adele</p>
    <p class="test">Teste CSS Imports </p>
  </body>
</html>
