<!DOCTYPE html>
<html lang="pt">
  <head>
    <%-include("./partials/head")-%>
  </head>

  <body>
    <div class="login">
      <form class="login__form"> 
        <h1 class="heading-primary">
          Login
          <span class="heading-primary--highlight">FCamara</span>
        </h1>

        <label for="email" class="login__label">Email</label> 
        <input type="email" name="email" class="login__input"> 

        <label for="password" class="login__label">Senha</label> 
        <input type="password" name="password" class="login__input"> 

        <button class="btn btn--orange">Login</button>
      </form> 
    </div>
  </body>

</html>
