<!DOCTYPE html>
<html lang="pt">
  <head>
    <%-include("./partials/head")-%>
  </head>

  <body>
    <div class="login">
      <h1 class="heading-primary"></h1>

      <form class="login__form">
        <label for="email" class="login__label">Email</label> 
        <input type="email" name="email" class="login__input"> 

        <label for="password" class="login__label">Senha</label> 
        <input type="password" name="password" class="login__input"> 
      </form> 
    </div>
  </body>

</html>
