<!DOCTYPE html>
<html lang="pt">
  <head>
    <%-include("./partials/head")-%>
  </head>

  <body>
    <h1 class="heading-primary">Página de Cursos</h1>

    <form class="form-login">
      <label for="email" class="form-login__label">Email</label> 
      <input type="email" name="email" class="form-login__input"> 

      <label for="password" class="form-login__label">Senha</label> 
      <input type="password" name="password" class="form-login__input"> 
    </form>

  </body>

</html>
